<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Description</title>
</head>
<body>
  <p class="lh-1">Warriors are melee fighters highly trained in the arts of weaponry. </p>
  <p class="lh-sm">These mighty warriors,
      strong and quick on the battlefield, depend on their heavy plate armor, shields, and battle
      prowess to defend themselves and ensure enemies don’t focus on their softer-skinned allies.</p>
  <p class="lh-base">Weapon mastery is a staple of warrior training, and they are capable of delivering high damage
      with enormous two-handed weapons or by wielding two weapons. As warriors deal or take damage,
      their rage grows, allowing them to deliver truly crushing attacks in the heat of battle.</p>

  <p class="text-muted fs-4">
      Strong against:  <a href="/details/archer" class="text-reset"> Archer </a>
  </p>
  <p class="text-muted fs-4">
      Weak against:  <a href="/details/mage" class="text-reset"> Mage </a>
  </p>
</html>