<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Description</title>
</head>
<body>
<p class="lh-1">Students gifted with a keen intellect and unwavering discipline may walk the path of the Mage. </p>
<p class="lh-sm">The arcane magic available to magi is both great and dangerous, and thus is revealed
  only to the most devoted practitioners. To avoid interference with their spellcasting, magi wear only cloth armor,
  but arcane shields and enchantments give them additional protection.</p>
<p class="lh-base"> To keep enemies at bay, magi can summon bursts of fire to incinerate distant
  targets and cause entire areas to erupt, setting groups of foes ablaze.</p>

<p class="text-muted fs-4">
  Strong against:  <a href="/details/warrior" class="text-reset"> Warrior </a>
</p>
<p class="text-muted fs-4">
  Weak against:  <a href="/details/archer" class="text-reset"> Archer </a>
</p>
</html>