<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Description</title>
</head>
<body>
<p class="lh-1">Archers is a class that can engage in ranged combat. </p>
<p class="lh-sm">Archers who are master marksmen use a plethora of different shots to take down their prey,
  from venomous barbs and magical projectiles to explosive volleys and penetrating powershots. Archers are
  also masters of survival, and their familiarity with traps</p>
<p class="lh-base"> Archers have a powerful connection to the wild, and an uncanny
  ability to befriend even the wildest of beasts.</p>

<p class="text-muted fs-4">
  Strong against:  <a href="/details/mage" class="text-reset"> Mage </a>
</p>
<p class="text-muted fs-4">
  Weak against:  <a href="/details/warrior" class="text-reset"> Warrior </a>
</p>
</html>