<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons::head"></head>
<body>
<header th:replace="fragments/commons::navigation"></header>
<main>
    <div class="text-center mt-2 mb-4">
        <h1>My Heroes</h1>
    </div>
    <hr class="my-3"/>
    <div class="container-fluid text-center">
        <div class="row row-cols-4 justify-content-center">
            <div class="col-md-7">
                <div class="col-md-12" th:if="${heroes.size() > 0}">
                    <table class="table">
                        <thead class="table-dark">
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Class</th>
                            <th scope="col">Level</th>
                            <th scope="col">Action</th>
                        </tr>
                        </thead>
                        <tbody class="table">
                        <tr th:each="hero : ${heroes}">
                            <td th:text="${hero.name}"></td>
                            <td th:text="warrior"></td>
                            <td th:text="${hero.level}"></td>
                            <td class="text-center">
                                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                    <button type="button" class="btn btn-primary btn-sm">Train</button>
                                    <button type="button" class="btn btn-danger btn-sm">Delete</button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div th:unless="${heroes.size() > 0}">
                    <span>No heroes found!</span>
                </div>

                <nav aria-label="Pagination" th:if="${totalPages > 0}">
                    <ul class="pagination pagination-sm justify-content-center" >
                        <li class="page-item" th:classappend="${currentPage == 1} ? 'disabled'">
                            <a th:replace="fragments/paging :: paging(1, '<<', 'First Page')"></a>
                        </li>
                        <li class="page-item font-weight-bold" th:classappend="${currentPage == 1} ? 'disabled'">
                            <a th:replace="fragments/paging :: paging(${currentPage - 1}, 'Prev', 'Previous Page')"></a>
                        </li>
                        <li class="page-item disabled" th:if="${currentPage - 2 > 1}">
                            <a class="page-link" href="#">...</a>
                        </li>
                        <li class="page-item" th:classappend="${page == currentPage} ? 'active'"
                            th:each="page : ${#numbers.sequence(currentPage > 2 ? currentPage - 2 : 1, currentPage + 2 < totalPages ? currentPage + 2 : totalPages)}">
                            <a th:replace="fragments/paging :: paging(${page}, ${page}, 'Page ' + ${page})"></a>
                        </li>
                        <li class="page-item disabled" th:if="${currentPage + 2 < totalPages}">
                            <a class="page-link" href="#">...</a>
                        </li>
                        <li class="page-item font-weight-bold" th:classappend="${currentPage == totalPages} ? 'disabled'">
                            <a th:replace="fragments/paging :: paging(${currentPage + 1},'Next', 'Next Page')"></a>
                        </li>
                        <li class="page-item" th:classappend="${currentPage == totalPages} ? 'disabled'">
                            <a th:replace="fragments/paging :: paging(${totalPages}, '>>', 'Last Page')"></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</main>
<footer th:replace="fragments/commons::footer"/>
</footer>
</body>
</html>