<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons::head"></head>
<body>
<header th:replace="fragments/commons::navigation"></header>
<main>
    <div class="text-center mt-2 mb-4">
        <h1>My Heroes</h1>
    </div>
    <hr class="my-3"/>
    <div class="container-fluid text-center">
        <div class="row row-cols-4 justify-content-center">
            <div class="col-md-7">
                <div class="col-md-12" th:if="${heroes.size() > 0}">
                    <table class="table">
                        <thead class="table-dark">
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Class</th>
                            <th scope="col">Level</th>
                            <th scope="col">Action</th>
                        </tr>
                        </thead>
                        <tbody class="table">
                        <tr th:each="hero : ${heroes}">
                            <td th:text="${hero.name}"></td>
                            <td th:text="${hero.heroClass}"></td>
                            <td th:text="${hero.level}"></td>
                            <td class="text-center">
                                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                    <a th:href="@{/hero/train/{id}(id=${hero.id})}" type="button"
                                       class="btn btn-primary btn-sm">Train</a>
                                    <a th:href="@{/hero/delete/{id}(id=${hero.id})}" type="button"
                                       class="btn btn-danger btn-sm">Delete</a>
                                    <a th:href="@{/hero/rename/{id}(id=${hero.id})}" type="button"
                                       class="btn btn-warning btn-sm" data-bs-toggle="modal"
                                       data-bs-target="#staticBackdrop">Rename</a>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div th:unless="${heroes.size() > 0}">
                    <span>No heroes found!</span>
                </div>
                <a th:include="fragments/pagination"></a>

            </div>
        </div>
    </div>
</main>
<footer th:replace="fragments/commons::footer"/>
</footer>
</body>
</html>