<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons::head"> </head>
<body>
<header th:replace="fragments/commons::navigation"></header>
<main>
    <div class="text-center mt-2 mb-4">
        <h1>WARRIOR</h1>
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="text-center container bg-blur rounded mt-5 ">
                        <img th:src="@{/images/warrior.jpg}" class="img-thumb" width="300" height="300"/>
                        <div th:include="~{fragments/description-warrior}" class="text-white">
                        </div>
                    </div>
                </div>
            </div>
        </div>
</main>
<footer th:replace="fragments/commons::footer"/></footer>
</body>
</html>