<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragments/head}"></th:block>
</head>
<body>
<header th:include="~{fragments/navigation}"></header>
<main>
    <div class="container">
        <h1 >Welcome to Victorious Arena
        <hr class="my-3"/>
        <p class="h4">The most furious arena on the web.</p>
        <p class="h4">You will find many strong enemies, but only the best will survive.</p>
    </div>
</main>
<th:block th:replace="~{fragments/footer}" />
</body>
</html>