<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons::head"></head>
<body>
<header th:replace="fragments/commons::navigation"></header>
<main>
    <h1 class="text-center">Register</h1>
    <hr class="hr-3"/>
    <form class="mx-auto w-15" th:action="@{/user/register}"
          th:object="${userRegistrationDTO}"
          method="post">
        <div class="form-group">
            <div class="label-holder textCol d-flex justify-content-center">
                <label for="username" class="h4 mb-2 text-white">Username</label>
            </div>
            <input th:field="*{username}"
                   th:errorclass="is-invalid"
                   type="text" class="form-control" id="username"
                   aria-describedby="usernameHelpInline" placeholder="Enter Username">
            <small id="usernameHelpInline" class="invalid-feedback bg-danger text-light rounded">
                Username length must be between 5 and 20 characters.
            </small>
        </div>
        <div class="form-group">
            <div class="label-holder text-white textCol d-flex justify-content-center">
                <label for="email" class="h4 mb-2">Email</label>
            </div>
            <input th:field="*{email}"
                   th:errorclass="is-invalid"
                   type="text" class="form-control" id="email"
                   aria-describedby="emailHelpInline" placeholder="Enter Email">
            <small id="emailHelpInline" class="invalid-feedback bg-danger text-light rounded">
                Enter valid email address.
            </small>
        </div>
        <div class="form-group">
            <div class="label-holder text-white textCol d-flex justify-content-center">
                <label for="password" class="h4 mb-2">Password</label>
            </div>
            <input th:field="*{password}"
                   th:errorclass="is-invalid"
                   type="password" class="form-control" id="password"
                   aria-describedby="passwordHelpInline" placeholder="Enter Password">
            <small id="passwordHelpInline" class="invalid-feedback bg-danger text-light rounded">
                Password length must be more than 3 characters long.
            </small>
            <div class="form-group">
                <div class="label-holder text-white textCol d-flex justify-content-center">
                    <label for="confirmPassword" class="h4 mb-2">Confirm Password</label>
                </div>
                <input th:field="*{confirmPassword}"
                       th:errorclass="is-invalid"
                       type="password" class="form-control" id="confirmPassword"
                       aria-describedby="confirmPasswordHelpInline" placeholder="Confirm Password">
                <small id="confirmPasswordHelpInline" class="invalid-feedback bg-danger text-light rounded">
                    Password length must be more than 3 characters long.
                </small>
            </div>
            <div class="form-group">
                <div class="label-holder text-white textCol d-flex justify-content-center">
                    <label for="country" class="h4 mb-2">Country</label>
                </div>
                <input type="text" class="form-control" id="country" name="country" placeholder="Enter country"/>
            </div>
            <div class="button-holder d-flex justify-content-center">
                <button class="btn btn-info text-white mb-3" type="submit">Register</button>
            </div>
        </div>
    </form>
</main>
<footer th:replace="fragments/commons::footer"/>
</footer>
</body>
</html>
